<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <style type="text/css">
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 5px;
  height: 150px; /* Should be removed. Only for demonstration */
}

div.a {
  text-align: center;
}
div.b {
  text-align: center;
  color: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style> 
 
 
<title>ML API</title>




</head>
<br>
<div class="a">
<h1>Qual tipo de predição deseja fazer?</h1><br>
</div>
<body>
<div class="row">
    <div class="column">
<h2>CROP</h2>
	<form action="{{ url_for('crop_predict')}}"method="post">
    	<input type="text" name="Area" placeholder="Area: 1201.5" required="required"/>
          <select name="State">
            <option value="0">Andaman and Nicobar Islands</option>
            <option value="1">Andhra Pradesh</option>
            <option value="2">Arunachal Pradesh</option>
            <option value="3">Assam</option>
            <option value="4">Bihar</option>
            <option value="5">Chandigarh</option>
            <option value="6">Chhattisgarh</option>
            <option value="7">Dadra and Nagar Haveli</option>
            <option value="8">Goa</option>
            <option value="9">Gujarat</option>
            <option value="10">Haryana</option>
            <option value="11">Himachal Pradesh</option>
            <option value="12">Jammu and Kashmir </option>
            <option value="13">Jharkhand</option>
            <option value="14">Karnataka</option>
            <option value="15">Kerala</option>
            <option value="16">Madhya Pradesh</option>
            <option value="17">Maharashtra</option>
            <option value="18">Manipur</option>
            <option value="19">Meghalaya</option>
            <option value="20">Mizoram</option>
            <option value="21">Nagaland</option>
            <option value="22">Odisha</option>
            <option value="23">Puducherry</option>
            <option value="24">Punjab</option>
            <option value="25">Rajasthan</option>
            <option value="26">Sikkim</option>
            <option value="27">Tamil Nadu</option>
            <option value="28">Telangana </option>
            <option value="29">Tripura</option>
            <option value="30">Uttar Pradesh</option>
            <option value="31">Uttarakhand</option>
            <option value="32">West Bengal</option>
          </select>
		<select name="District" required="required">
    		<option value="0">PARAGANAS NORTH</option>
            <option value="1">PARAGANAS SOUTH</option>
            <option value="2">ADILABAD</option>
            <option value="3">AGAR MALWA</option>
            <option value="4">AGRA</option>
            <option value="5">AHMADABAD</option>
            <option value="6">AHMEDNAGAR</option>
            <option value="7">AIZAWL</option>
            <option value="8">AJMER</option>
            <option value="9">AKOLA</option>
            <option value="10">ALAPPUZHA</option>
            <option value="11">ALIGARH</option>
            <option value="12">ALIRAJPUR</option>
            <option value="13">ALLAHABAD</option>
            <option value="14">ALMORA</option>
            <option value="15">ALWAR</option>
            <option value="16">AMBALA</option>
            <option value="17">AMBEDKAR NAGAR</option>
            <option value="18">AMETHI</option>
            <option value="19">AMRAVATI</option>
            <option value="20">AMRELI</option>
            <option value="21">AMRITSAR</option>
            <option value="22">AMROHA</option>
            <option value="23">ANAND</option>
            <option value="24">ANANTAPUR</option>
            <option value="25">ANANTNAG</option>
            <option value="26">ANJAW</option>
            <option value="27">ANUGUL</option>
            <option value="28">ANUPPUR</option>
            <option value="29">ARARIA</option>
            <option value="30">ARIYALUR</option>
            <option value="31">ARWAL</option>
            <option value="32">ASHOKNAGAR</option>
            <option value="33">AURAIYA</option>
            <option value="34">AURANGABAD</option>
            <option value="35">AZAMGARH</option>
            <option value="36">BADGAM</option>
            <option value="37">BAGALKOT</option>
            <option value="38">BAGESHWAR</option>
            <option value="39">BAGHPAT</option>
            <option value="40">BAHRAICH</option>
            <option value="41">BAKSA</option>
            <option value="42">BALAGHAT</option>
            <option value="43">BALANGIR</option>
            <option value="44">BALESHWAR</option>
            <option value="45">BALLIA</option>
            <option value="46">BALOD</option>
            <option value="47">BALODA BAZAR</option>
            <option value="48">BALRAMPUR</option>
            <option value="49">BANAS KANTHA</option>
            <option value="50">BANDA</option>
            <option value="51">BANDIPORA</option>
            <option value="52">BANGALORE RURAL</option>
            <option value="53">BANKA</option>
            <option value="54">BANKURA</option>
            <option value="55">BANSWARA</option>
            <option value="56">BARABANKI</option>
            <option value="57">BARAMULLA</option>
            <option value="58">BARAN</option>
            <option value="59">BARDHAMAN</option>
            <option value="60">BAREILLY</option>
            <option value="61">BARGARH</option>
            <option value="62">BARMER</option>
            <option value="63">BARNALA</option>
            <option value="64">BARPETA</option>
            <option value="65">BARWANI</option>
            <option value="66">BASTAR</option>
            <option value="67">BASTI</option>
            <option value="68">BATHINDA</option>
            <option value="69">BEED</option>
            <option value="70">BEGUSARAI</option>
            <option value="71">BELGAUM</option>
            <option value="72">BELLARY</option>
            <option value="73">BEMETARA</option>
            <option value="74">BENGALURU URBAN</option>
            <option value="75">BETUL</option>
            <option value="76">BHADRAK</option>
            <option value="77">BHAGALPUR</option>
            <option value="78">BHANDARA</option>
            <option value="79">BHARATPUR</option>
            <option value="80">BHARUCH</option>
            <option value="81">BHAVNAGAR</option>
            <option value="82">BHILWARA</option>
            <option value="83">BHIND</option>
            <option value="84">BHIWANI</option>
            <option value="85">BHOJPUR</option>
            <option value="86">BHOPAL</option>
            <option value="87">BIDAR</option>
            <option value="88">BIJAPUR</option>
            <option value="89">BIJNOR</option>
            <option value="90">BIKANER</option>
            <option value="91">BILASPUR</option>
            <option value="92">BIRBHUM</option>
            <option value="93">BISHNUPUR</option>
            <option value="94">BOKARO</option>
            <option value="95">BONGAIGAON</option>
            <option value="96">BOUDH</option>
            <option value="97">BUDAUN</option>
            <option value="98">BULANDSHAHR</option>
            <option value="99">BULDHANA</option>
            <option value="100">BUNDI</option>
            <option value="101">BURHANPUR</option>
            <option value="102">BUXAR</option>
            <option value="103">CACHAR</option>
            <option value="104">CHAMARAJANAGAR</option>
            <option value="105">CHAMBA</option>
            <option value="106">CHAMOLI</option>
            <option value="107">CHAMPAWAT</option>
            <option value="108">CHAMPHAI</option>
            <option value="109">CHANDAULI</option>
            <option value="110">CHANDEL</option>
            <option value="111">CHANDIGARH</option>
            <option value="112">CHANDRAPUR</option>
            <option value="113">CHANGLANG</option>
            <option value="114">CHATRA</option>
            <option value="115">CHHATARPUR</option>
            <option value="116">CHHINDWARA</option>
            <option value="117">CHIKBALLAPUR</option>
            <option value="118">CHIKMAGALUR</option>
            <option value="119">CHIRANG</option>
            <option value="120">CHITRADURGA</option>
            <option value="121">CHITRAKOOT</option>
            <option value="122">CHITTOOR</option>
            <option value="123">CHITTORGARH</option>
            <option value="124">CHURACHANDPUR</option>
            <option value="125">CHURU</option>
            <option value="126">COIMBATORE</option>
            <option value="127">COOCHBEHAR</option>
            <option value="128">CUDDALORE</option>
            <option value="129">CUTTACK</option>
            <option value="130">DADRA AND NAGAR HAVELI</option>
            <option value="131">DAKSHIN KANNAD</option>
            <option value="132">DAMOH</option>
            <option value="133">DANG</option>
            <option value="134">DANTEWADA</option>
            <option value="135">DARBHANGA</option>
            <option value="136">DARJEELING</option>
            <option value="137">DARRANG</option>
            <option value="138">DATIA</option>
            <option value="139">DAUSA</option>
            <option value="140">DAVANGERE</option>
            <option value="141">DEHRADUN</option>
            <option value="142">DEOGARH</option>
            <option value="143">DEOGHAR</option>
            <option value="144">DEORIA</option>
            <option value="145">DEWAS</option>
            <option value="146">DHALAI</option>
            <option value="147">DHAMTARI</option>
            <option value="148">DHANBAD</option>
            <option value="149">DHAR</option>
            <option value="150">DHARMAPURI</option>
            <option value="151">DHARWAD</option>
            <option value="152">DHEMAJI</option>
            <option value="153">DHENKANAL</option>
            <option value="154">DHOLPUR</option>
            <option value="155">DHUBRI</option>
            <option value="156">DHULE</option>
            <option value="157">DIBANG VALLEY</option>
            <option value="158">DIBRUGARH</option>
            <option value="159">DIMA HASAO</option>
            <option value="160">DIMAPUR</option>
            <option value="161">DINAJPUR DAKSHIN</option>
            <option value="162">DINAJPUR UTTAR</option>
            <option value="163">DINDIGUL</option>
            <option value="164">DINDORI</option>
            <option value="165">DODA</option>
            <option value="166">DOHAD</option>
            <option value="167">DUMKA</option>
            <option value="168">DUNGARPUR</option>
            <option value="169">DURG</option>
            <option value="170">EAST DISTRICT</option>
            <option value="171">EAST GARO HILLS</option>
            <option value="172">EAST GODAVARI</option>
            <option value="173">EAST JAINTIA HILLS</option>
            <option value="174">EAST KAMENG</option>
            <option value="175">EAST KHASI HILLS</option>
            <option value="176">EAST SIANG</option>
            <option value="177">EAST SINGHBUM</option>
            <option value="178">ERNAKULAM</option>
            <option value="179">ERODE</option>
            <option value="180">ETAH</option>
            <option value="181">ETAWAH</option>
            <option value="182">FAIZABAD</option>
            <option value="183">FARIDABAD</option>
            <option value="184">FARIDKOT</option>
            <option value="185">FARRUKHABAD</option>
            <option value="186">FATEHABAD</option>
            <option value="187">FATEHGARH SAHIB</option>
            <option value="188">FATEHPUR</option>
            <option value="189">FAZILKA</option>
            <option value="190">FIROZABAD</option>
            <option value="191">FIROZEPUR</option>
            <option value="192">GADAG</option>
            <option value="193">GADCHIROLI</option>
            <option value="194">GAJAPATI</option>
            <option value="195">GANDERBAL</option>
            <option value="196">GANDHINAGAR</option>
            <option value="197">GANGANAGAR</option>
            <option value="198">GANJAM</option>
            <option value="199">GARHWA</option>
            <option value="200">GARIYABAND</option>
            <option value="201">GAUTAM BUDDHA NAGAR</option>
            <option value="202">GAYA</option>
            <option value="203">GHAZIABAD</option>
            <option value="204">GHAZIPUR</option>
            <option value="205">GIRIDIH</option>
            <option value="206">GOALPARA</option>
            <option value="207">GODDA</option>
            <option value="208">GOLAGHAT</option>
            <option value="209">GOMATI</option>
            <option value="210">GONDA</option>
            <option value="211">GONDIA</option>
            <option value="212">GOPALGANJ</option>
            <option value="213">GORAKHPUR</option>
            <option value="214">GULBARGA</option>
            <option value="215">GUMLA</option>
            <option value="216">GUNA</option>
            <option value="217">GUNTUR</option>
            <option value="218">GURDASPUR</option>
            <option value="219">GURGAON</option>
            <option value="220">GWALIOR</option>
            <option value="221">HAILAKANDI</option>
            <option value="222">HAMIRPUR</option>
            <option value="223">HANUMANGARH</option>
            <option value="224">HAPUR</option>
            <option value="225">HARDA</option>
            <option value="226">HARDOI</option>
            <option value="227">HARIDWAR</option>
            <option value="228">HASSAN</option>
            <option value="229">HATHRAS</option>
            <option value="230">HAVERI</option>
            <option value="231">HAZARIBAGH</option>
            <option value="232">HINGOLI</option>
            <option value="233">HISAR</option>
            <option value="234">HOOGHLY</option>
            <option value="235">HOSHANGABAD</option>
            <option value="236">HOSHIARPUR</option>
            <option value="237">HOWRAH</option>
            <option value="238">HYDERABAD</option>
            <option value="239">IDUKKI</option>
            <option value="240">IMPHAL EAST</option>
            <option value="241">IMPHAL WEST</option>
            <option value="242">INDORE</option>
            <option value="243">JABALPUR</option>
            <option value="244">JAGATSINGHAPUR</option>
            <option value="245">JAIPUR</option>
            <option value="246">JAISALMER</option>
            <option value="247">JAJAPUR</option>
            <option value="248">JALANDHAR</option>
            <option value="249">JALAUN</option>
            <option value="250">JALGAON</option>
            <option value="251">JALNA</option>
            <option value="252">JALORE</option>
            <option value="253">JALPAIGURI</option>
            <option value="254">JAMMU</option>
            <option value="255">JAMNAGAR</option>
            <option value="256">JAMTARA</option>
            <option value="257">JAMUI</option>
            <option value="258">JANJGIR-CHAMPA</option>
            <option value="259">JASHPUR</option>
            <option value="260">JAUNPUR</option>
            <option value="261">JEHANABAD</option>
            <option value="262">JHABUA</option>
            <option value="263">JHAJJAR</option>
            <option value="264">JHALAWAR</option>
            <option value="265">JHANSI</option>
            <option value="266">JHARSUGUDA</option>
            <option value="267">JHUNJHUNU</option>
            <option value="268">JIND</option>
            <option value="269">JODHPUR</option>
            <option value="270">JORHAT</option>
            <option value="271">JUNAGADH</option>
            <option value="272">KABIRDHAM</option>
            <option value="273">KACHCHH</option>
            <option value="274">KADAPA</option>
            <option value="275">KAIMUR (BHABUA)</option>
            <option value="276">KAITHAL</option>
            <option value="277">KALAHANDI</option>
            <option value="278">KAMRUP</option>
            <option value="279">KAMRUP METRO</option>
            <option value="280">KANCHIPURAM</option>
            <option value="281">KANDHAMAL</option>
            <option value="282">KANGRA</option>
            <option value="283">KANKER</option>
            <option value="284">KANNAUJ</option>
            <option value="285">KANNIYAKUMARI</option>
            <option value="286">KANNUR</option>
            <option value="287">KANPUR DEHAT</option>
            <option value="288">KANPUR NAGAR</option>
            <option value="289">KAPURTHALA</option>
            <option value="290">KARAIKAL</option>
            <option value="291">KARAULI</option>
            <option value="292">KARBI ANGLONG</option>
            <option value="293">KARGIL</option>
            <option value="294">KARIMGANJ</option>
            <option value="295">KARIMNAGAR</option>
            <option value="296">KARNAL</option>
            <option value="297">KARUR</option>
            <option value="298">KASARAGOD</option>
            <option value="299">KASGANJ</option>
            <option value="300">KATHUA</option>
            <option value="301">KATIHAR</option>
            <option value="302">KATNI</option>
            <option value="303">KAUSHAMBI</option>
            <option value="304">KENDRAPARA</option>
            <option value="305">KENDUJHAR</option>
            <option value="306">KHAGARIA</option>
            <option value="307">KHAMMAM</option>
            <option value="308">KHANDWA</option>
            <option value="309">KHARGONE</option>
            <option value="310">KHEDA</option>
            <option value="311">KHERI</option>
            <option value="312">KHORDHA</option>
            <option value="313">KHOWAI</option>
            <option value="314">KHUNTI</option>
            <option value="315">KINNAUR</option>
            <option value="316">KIPHIRE</option>
            <option value="317">KISHANGANJ</option>
            <option value="318">KISHTWAR</option>
            <option value="319">KODAGU</option>
            <option value="320">KODERMA</option>
            <option value="321">KOHIMA</option>
            <option value="322">KOKRAJHAR</option>
            <option value="323">KOLAR</option>
            <option value="324">KOLASIB</option>
            <option value="325">KOLHAPUR</option>
            <option value="326">KOLLAM</option>
            <option value="327">KONDAGAON</option>
            <option value="328">KOPPAL</option>
            <option value="329">KORAPUT</option>
            <option value="330">KORBA</option>
            <option value="331">KOREA</option>
            <option value="332">KOTA</option>
            <option value="333">KOTTAYAM</option>
            <option value="334">KOZHIKODE</option>
            <option value="335">KRISHNA</option>
            <option value="336">KRISHNAGIRI</option>
            <option value="337">KULGAM</option>
            <option value="338">KULLU</option>
            <option value="339">KUPWARA</option>
            <option value="340">KURNOOL</option>
            <option value="341">KURUKSHETRA</option>
            <option value="342">KURUNG KUMEY</option>
            <option value="343">KUSHI NAGAR</option>
            <option value="344">LAHUL AND SPITI</option>
            <option value="345">LAKHIMPUR</option>
            <option value="346">LAKHISARAI</option>
            <option value="347">LALITPUR</option>
            <option value="348">LATEHAR</option>
            <option value="349">LATUR</option>
            <option value="350">LAWNGTLAI</option>
            <option value="351">LEH LADAKH</option>
            <option value="352">LOHARDAGA</option>
            <option value="353">LOHIT</option>
            <option value="354">LONGDING</option>
            <option value="355">LONGLENG</option>
            <option value="356">LOWER DIBANG VALLEY</option>
            <option value="357">LOWER SUBANSIRI</option>
            <option value="358">LUCKNOW</option>
            <option value="359">LUDHIANA</option>
            <option value="360">LUNGLEI</option>
            <option value="361">MADHEPURA</option>
            <option value="362">MADHUBANI</option>
            <option value="363">MADURAI</option>
            <option value="364">MAHARAJGANJ</option>
            <option value="365">MAHASAMUND</option>
            <option value="366">MAHBUBNAGAR</option>
            <option value="367">MAHE</option>
            <option value="368">MAHENDRAGARH</option>
            <option value="369">MAHESANA</option>
            <option value="370">MAHOBA</option>
            <option value="371">MAINPURI</option>
            <option value="372">MALAPPURAM</option>
            <option value="373">MALDAH</option>
            <option value="374">MALKANGIRI</option>
            <option value="375">MAMIT</option>
            <option value="376">MANDI</option>
            <option value="377">MANDLA</option>
            <option value="378">MANDSAUR</option>
            <option value="379">MANDYA</option>
            <option value="380">MANSA</option>
            <option value="381">MARIGAON</option>
            <option value="382">MATHURA</option>
            <option value="383">MAU</option>
            <option value="384">MAYURBHANJ</option>
            <option value="385">MEDAK</option>
            <option value="386">MEDINIPUR EAST</option>
            <option value="387">MEDINIPUR WEST</option>
            <option value="388">MEERUT</option>
            <option value="389">MEWAT</option>
            <option value="390">MIRZAPUR</option>
            <option value="391">MOGA</option>
            <option value="392">MOKOKCHUNG</option>
            <option value="393">MON</option>
            <option value="394">MORADABAD</option>
            <option value="395">MORENA</option>
            <option value="396">MUKTSAR</option>
            <option value="397">MUMBAI</option>
            <option value="398">MUNGELI</option>
            <option value="399">MUNGER</option>
            <option value="400">MURSHIDABAD</option>
            <option value="401">MUZAFFARNAGAR</option>
            <option value="402">MUZAFFARPUR</option>
            <option value="403">MYSORE</option>
            <option value="404">NABARANGPUR</option>
            <option value="405">NADIA</option>
            <option value="406">NAGAON</option>
            <option value="407">NAGAPATTINAM</option>
            <option value="408">NAGAUR</option>
            <option value="409">NAGPUR</option>
            <option value="410">NAINITAL</option>
            <option value="411">NALANDA</option>
            <option value="412">NALBARI</option>
            <option value="413">NALGONDA</option>
            <option value="414">NAMAKKAL</option>
            <option value="415">NAMSAI</option>
            <option value="416">NANDED</option>
            <option value="417">NANDURBAR</option>
            <option value="418">NARAYANPUR</option>
            <option value="419">NARMADA</option>
            <option value="420">NARSINGHPUR</option>
            <option value="421">NASHIK</option>
            <option value="422">NAVSARI</option>
            <option value="423">NAWADA</option>
            <option value="424">NAWANSHAHR</option>
            <option value="425">NAYAGARH</option>
            <option value="426">NEEMUCH</option>
            <option value="427">NICOBARS</option>
            <option value="428">NIZAMABAD</option>
            <option value="429">NORTH AND MIDDLE ANDAMAN</option>
            <option value="430">NORTH DISTRICT</option>
            <option value="431">NORTH GARO HILLS</option>
            <option value="432">NORTH GOA</option>
            <option value="433">NORTH TRIPURA</option>
            <option value="434">NUAPADA</option>
            <option value="435">OSMANABAD</option>
            <option value="436">PAKUR</option>
            <option value="437">PALAKKAD</option>
            <option value="438">PALAMU</option>
            <option value="439">PALGHAR</option>
            <option value="440">PALI</option>
            <option value="441">PALWAL</option>
            <option value="442">PANCH MAHALS</option>
            <option value="443">PANCHKULA</option>
            <option value="444">PANIPAT</option>
            <option value="445">PANNA</option>
            <option value="446">PAPUM PARE</option>
            <option value="447">PARBHANI</option>
            <option value="448">PASHCHIM CHAMPARAN</option>
            <option value="449">PATAN</option>
            <option value="450">PATHANAMTHITTA</option>
            <option value="451">PATHANKOT</option>
            <option value="452">PATIALA</option>
            <option value="453">PATNA</option>
            <option value="454">PAURI GARHWAL</option>
            <option value="455">PERAMBALUR</option>
            <option value="456">PEREN</option>
            <option value="457">PHEK</option>
            <option value="458">PILIBHIT</option>
            <option value="459">PITHORAGARH</option>
            <option value="460">PONDICHERRY</option>
            <option value="461">POONCH</option>
            <option value="462">PORBANDAR</option>
            <option value="463">PRAKASAM</option>
            <option value="464">PRATAPGARH</option>
            <option value="465">PUDUKKOTTAI</option>
            <option value="466">PULWAMA</option>
            <option value="467">PUNE</option>
            <option value="468">PURBI CHAMPARAN</option>
            <option value="469">PURI</option>
            <option value="470">PURNIA</option>
            <option value="471">PURULIA</option>
            <option value="472">RAE BARELI</option>
            <option value="473">RAICHUR</option>
            <option value="474">RAIGAD</option>
            <option value="475">RAIGARH</option>
            <option value="476">RAIPUR</option>
            <option value="477">RAISEN</option>
            <option value="478">RAJAURI</option>
            <option value="479">RAJGARH</option>
            <option value="480">RAJKOT</option>
            <option value="481">RAJNANDGAON</option>
            <option value="482">RAJSAMAND</option>
            <option value="483">RAMANAGARA</option>
            <option value="484">RAMANATHAPURAM</option>
            <option value="485">RAMBAN</option>
            <option value="486">RAMGARH</option>
            <option value="487">RAMPUR</option>
            <option value="488">RANCHI</option>
            <option value="489">RANGAREDDI</option>
            <option value="490">RATLAM</option>
            <option value="491">RATNAGIRI</option>
            <option value="492">RAYAGADA</option>
            <option value="493">REASI</option>
            <option value="494">REWA</option>
            <option value="495">REWARI</option>
            <option value="496">RI BHOI</option>
            <option value="497">ROHTAK</option>
            <option value="498">ROHTAS</option>
            <option value="499">RUDRA PRAYAG</option>
            <option value="500">RUPNAGAR</option>
            <option value="501">S.A.S NAGAR</option>
            <option value="502">SABAR KANTHA</option>
            <option value="503">SAGAR</option>
            <option value="504">SAHARANPUR</option>
            <option value="505">SAHARSA</option>
            <option value="506">SAHEBGANJ</option>
            <option value="507">SAIHA</option>
            <option value="508">SALEM</option>
            <option value="509">SAMASTIPUR</option>
            <option value="510">SAMBA</option>
            <option value="511">SAMBALPUR</option>
            <option value="512">SAMBHAL</option>
            <option value="513">SANGLI</option>
            <option value="514">SANGRUR</option>
            <option value="515">SANT KABEER NAGAR</option>
            <option value="516">SANT RAVIDAS NAGAR</option>
            <option value="517">SARAIKELA KHARSAWAN</option>
            <option value="518">SARAN</option>
            <option value="519">SATARA</option>
            <option value="520">SATNA</option>
            <option value="521">SAWAI MADHOPUR</option>
            <option value="522">SEHORE</option>
            <option value="523">SENAPATI</option>
            <option value="524">SEONI</option>
            <option value="525">SEPAHIJALA</option>
            <option value="526">SERCHHIP</option>
            <option value="527">SHAHDOL</option>
            <option value="528">SHAHJAHANPUR</option>
            <option value="529">SHAJAPUR</option>
            <option value="530">SHAMLI</option>
            <option value="531">SHEIKHPURA</option>
            <option value="532">SHEOHAR</option>
            <option value="533">SHEOPUR</option>
            <option value="534">SHIMLA</option>
            <option value="535">SHIMOGA</option>
            <option value="536">SHIVPURI</option>
            <option value="537">SHOPIAN</option>
            <option value="538">SHRAVASTI</option>
            <option value="539">SIDDHARTH NAGAR</option>
            <option value="540">SIDHI</option>
            <option value="541">SIKAR</option>
            <option value="542">SIMDEGA</option>
            <option value="543">SINDHUDURG</option>
            <option value="544">SINGRAULI</option>
            <option value="545">SIRMAUR</option>
            <option value="546">SIROHI</option>
            <option value="547">SIRSA</option>
            <option value="548">SITAMARHI</option>
            <option value="549">SITAPUR</option>
            <option value="550">SIVAGANGA</option>
            <option value="551">SIVASAGAR</option>
            <option value="552">SIWAN</option>
            <option value="553">SOLAN</option>
            <option value="554">SOLAPUR</option>
            <option value="555">SONBHADRA</option>
            <option value="556">SONEPUR</option>
            <option value="557">SONIPAT</option>
            <option value="558">SONITPUR</option>
            <option value="559">SOUTH ANDAMANS</option>
            <option value="560">SOUTH DISTRICT</option>
            <option value="561">SOUTH GARO HILLS</option>
            <option value="562">SOUTH GOA</option>
            <option value="563">SOUTH TRIPURA</option>
            <option value="564">SOUTH WEST GARO HILLS</option>
            <option value="565">SOUTH WEST KHASI HILLS</option>
            <option value="566">SPSR NELLORE</option>
            <option value="567">SRIKAKULAM</option>
            <option value="568">SRINAGAR</option>
            <option value="569">SUKMA</option>
            <option value="570">SULTANPUR</option>
            <option value="571">SUNDARGARH</option>
            <option value="572">SUPAUL</option>
            <option value="573">SURAJPUR</option>
            <option value="574">SURAT</option>
            <option value="575">SURENDRANAGAR</option>
            <option value="576">SURGUJA</option>
            <option value="577">TAMENGLONG</option>
            <option value="578">TAPI</option>
            <option value="579">TARN TARAN</option>
            <option value="580">TAWANG</option>
            <option value="581">TEHRI GARHWAL</option>
            <option value="582">THANE</option>
            <option value="583">THANJAVUR</option>
            <option value="584">THE NILGIRIS</option>
            <option value="585">THENI</option>
            <option value="586">THIRUVALLUR</option>
            <option value="587">THIRUVANANTHAPURAM</option>
            <option value="588">THIRUVARUR</option>
            <option value="589">THOUBAL</option>
            <option value="590">THRISSUR</option>
            <option value="591">TIKAMGARH</option>
            <option value="592">TINSUKIA</option>
            <option value="593">TIRAP</option>
            <option value="594">TIRUCHIRAPPALLI</option>
            <option value="595">TIRUNELVELI</option>
            <option value="596">TIRUPPUR</option>
            <option value="597">TIRUVANNAMALAI</option>
            <option value="598">TONK</option>
            <option value="599">TUENSANG</option>
            <option value="600">TUMKUR</option>
            <option value="601">TUTICORIN</option>
            <option value="602">UDAIPUR</option>
            <option value="603">UDALGURI</option>
            <option value="604">UDAM SINGH NAGAR</option>
            <option value="605">UDHAMPUR</option>
            <option value="606">UDUPI</option>
            <option value="607">UJJAIN</option>
            <option value="608">UKHRUL</option>
            <option value="609">UMARIA</option>
            <option value="610">UNA</option>
            <option value="611">UNAKOTI</option>
            <option value="612">UNNAO</option>
            <option value="613">UPPER SIANG</option>
            <option value="614">UPPER SUBANSIRI</option>
            <option value="615">UTTAR KANNAD</option>
            <option value="616">UTTAR KASHI</option>
            <option value="617">VADODARA</option>
            <option value="618">VAISHALI</option>
            <option value="619">VALSAD</option>
            <option value="620">VARANASI</option>
            <option value="621">VELLORE</option>
            <option value="622">VIDISHA</option>
            <option value="623">VILLUPURAM</option>
            <option value="624">VIRUDHUNAGAR</option>
            <option value="625">VISAKHAPATANAM</option>
            <option value="626">VIZIANAGARAM</option>
            <option value="627">WARANGAL</option>
            <option value="628">WARDHA</option>
            <option value="629">WASHIM</option>
            <option value="630">WAYANAD</option>
            <option value="631">WEST DISTRICT</option>
            <option value="632">WEST GARO HILLS</option>
            <option value="633">WEST GODAVARI</option>
            <option value="634">WEST JAINTIA HILLS</option>
            <option value="635">WEST KAMENG</option>
            <option value="636">WEST KHASI HILLS</option>
            <option value="637">WEST SIANG</option>
            <option value="638">WEST SINGHBHUM</option>
            <option value="639">WEST TRIPURA</option>
            <option value="640">WOKHA</option>
            <option value="641">YADGIR</option>
            <option value="642">YAMUNANAGAR</option>
            <option value="643">YANAM</option>
            <option value="644">YAVATMAL</option>
            <option value="645">ZUNHEBOTO</option>
		</select>
		</br></br>
        <button type="submit" class="btn btn-primary btn-block btn-large">O que devo cultivar?</button>
    </form>
</div>
<div class="column">
<h2>Production</h2>
    <form action="{{ url_for('production')}}"method="post">
    	<input type="text" name="Area" placeholder="Area: 1201.5" required="required" />
        <select name="Crop">
        <option value="0">Apple</option>
        <option value="1">Arcanut (Processed)</option>
        <option value="2">Arecanut</option>
        <option value="3">Arhar/Tur</option>
        <option value="4">Ash Gourd</option>
        <option value="5">Atcanut (Raw)</option>
        <option value="6">Bajra</option>
        <option value="7">Banana</option>
        <option value="8">Barley</option>
        <option value="9">Bean</option>
        <option value="10">Beans & Mutter(Vegetable)</option>
        <option value="11">Beet Root</option>
        <option value="12">Ber</option>
        <option value="13">Bhindi</option>
        <option value="14">Bitter Gourd</option>
        <option value="15">Black pepper</option>
        <option value="16">Blackgram</option>
        <option value="17">Bottle Gourd</option>
        <option value="18">Brinjal</option>
        <option value="19">Cabbage</option>
        <option value="20">Cardamom</option>
        <option value="21">Carrot</option>
        <option value="22">Cashewnut</option>
        <option value="23">Cashewnut Processed</option>
        <option value="24">Cashewnut Raw</option>
        <option value="25">Castor seed</option>
        <option value="26">Cauliflower</option>
        <option value="27">Citrus Fruit</option>
        <option value="28">Coconut </option>
        <option value="29">Coffee</option>
        <option value="30">Colocosia</option>
        <option value="31">Cond-spcs other</option>
        <option value="32">Coriander</option>
        <option value="33">Cotton(lint)</option>
        <option value="34">Cowpea(Lobia)</option>
        <option value="35">Cucumber</option>
        <option value="36">Drum Stick</option>
        <option value="37">Dry chillies</option>
        <option value="38">Dry ginger</option>
        <option value="39">Garlic</option>
        <option value="40">Ginger</option>
        <option value="41">Gram</option>
        <option value="42">Grapes</option>
        <option value="43">Groundnut</option>
        <option value="44">Guar seed</option>
        <option value="45">Horse-gram</option>
        <option value="46">Jack Fruit</option>
        <option value="47">Jobster</option>
        <option value="48">Jowar</option>
        <option value="49">Jute</option>
        <option value="50">Jute & mesta</option>
        <option value="51">Kapas</option>
        <option value="52">Khesari</option>
        <option value="53">Korra</option>
        <option value="54">Lab-Lab</option>
        <option value="55">Lemon</option>
        <option value="56">Lentil</option>
        <option value="57">Linseed</option>
        <option value="58">Litchi</option>
        <option value="59">Maize</option>
        <option value="60">Mango</option>
        <option value="61">Masoor</option>
        <option value="62">Mesta</option>
        <option value="63">Moong(Green Gram)</option>
        <option value="64">Moth</option>
        <option value="65">Niger seed</option>
        <option value="66">Oilseeds total</option>
        <option value="67">Onion</option>
        <option value="68">Orange</option>
        <option value="69">Other  Rabi pulses</option>
        <option value="70">Other Cereals & Millets</option>
        <option value="71">Other Citrus Fruit</option>
        <option value="72">Other Dry Fruit</option>
        <option value="73">Other Fresh Fruits</option>
        <option value="74">Other Kharif pulses</option>
        <option value="75">Other Vegetables</option>
        <option value="76">Paddy</option>
        <option value="77">Papaya</option>
        <option value="78">Peach</option>
        <option value="79">Pear</option>
        <option value="80">Peas  (vegetable)</option>
        <option value="81">Peas & beans (Pulses)</option>
        <option value="82">Perilla</option>
        <option value="83">Pineapple</option>
        <option value="84">Plums</option>
        <option value="85">Pome Fruit</option>
        <option value="86">Pome Granet</option>
        <option value="87">Potato</option>
        <option value="88">Pulses total</option>
        <option value="89">Pump Kin</option>
        <option value="90">Ragi</option>
        <option value="91">Rajmash Kholar</option>
        <option value="92">Rapeseed &Mustard</option>
        <option value="93">Redish</option>
        <option value="94">Ribed Guard</option>
        <option value="95">Rice</option>
        <option value="96">Ricebean (nagadal)</option>
        <option value="97">Rubber</option>
        <option value="98">Safflower</option>
        <option value="99">Samai</option>
        <option value="100">Sannhamp</option>
        <option value="101">Sapota</option>
        <option value="102">Sesamum</option>
        <option value="103">Small millets</option>
        <option value="104">Snak Guard</option>
        <option value="105">Soyabean</option>
        <option value="106">Sugarcane</option>
        <option value="107">Sunflower</option>
        <option value="108">Sweet potato</option>
        <option value="109">Tapioca</option>
        <option value="110">Tea</option>
        <option value="111">Tobacco</option>
        <option value="112">Tomato</option>
        <option value="113">Total foodgrain</option>
        <option value="114">Turmeric</option>
        <option value="115">Turnip</option>
        <option value="116">Urad</option>
        <option value="117">Varagu</option>
        <option value="118">Water Melon</option>
        <option value="119">Wheat</option>
        <option value="120">Yam</option>
        <option value="121">other fibres</option>
        <option value="122">other misc. pulses</option>
        <option value="123">other oilseeds</option>
        </select>
		<input type="text" name="GDP" placeholder="GDP" required="required" />
        </br></br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Quanto será minha Produção?</button>

    </form>
</div>
   <br>
   <br>
   <div class="b">
   {{ prediction_text }}
   </div>
   </center>

 </div>
</body>
</html>
